
body {
    background-color: #c1c1ff;
}

/*nav styles start here*/

#sort {
    padding-top: 22px;/*this sorts out the prob with level of second nav bar bit, makes it on the right level*/
}
/*nav bar*/
.nav a {
	text-transform: uppercase;
	color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 14px 15px;
	text-decoration: none;
	display: inline;
}
.nav li {
    display: inline;
	text-transform: uppercase;
	color: #5a5a5a;
    font-size: 15px;
    font-weight: bold;
    padding: 14px 15px;
	text-decoration: none;
}
.nav {
    color: #5a5a5a;
    background-color: #006400;
    display: block;
    padding: 8px;
    font-weight: bold;
    position: fixed;
    left: 0;
    top: 0;/*wonder if this caused the problem??*/
    width: 100%;
}
.nav a:hover {
    background-color: white;
    color: black;
}

/* \nav */

/*jumbotron styling*/
.jumbotron {
    background: url("http://www.publicdomainpictures.net/pictures/30000/nahled/smarties-background.jpg");
	color: white;
	background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.jumbotron p {
    text-decoration: none;
}
/* \jumbotron */

/*for main content*/
#info {
    text-align: left;
    padding: 50px;
    text-decoration: none;
    color: black;
}
#info ul a {
    color: black;
}

input {/*this is only for 'contact us' page*/
    border: 0;
    padding: 12px;
    font-size: 18px;
}
input[type=email]:invalid {
	-webkit-box-shadow: 0px 0px 19px 5px rgba(199,14,14,1);
	-moz-box-shadow: 0px 0px 19px 5px rgba(199,14,14,1);
	box-shadow: 0px 0px 19px 5px rgba(199,14,14,1);
}
/* When the input field gets focus, change its width to 35% */
input[type=email]:focus {
	width: 35%;
}
input[type="submit"] {
    background: limegreen;
    color: black;
}
input[type=email] {
    width: 350px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
/*end*/

/*to make particle vibrate*/
#particle img:hover {
  animation: shake 1s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
#particle img {
    text-align: center;
}

/* specific code for vibration */
@keyframes shake {
  5%, 95% {/*why are these two things not highlighted blue like the others?*/
      transform: translate3d(0, 0.5px, 0);
  }
  10%, 90% {
    transform: translate3d(1px, 0, 0);
  }
  15%, 85% {
      transform: translate3d(0, -1.5px, 0);
  }
  20%, 80% {
    transform: translate3d(-2px, 0, 0);
  }
  25%, 75% {
      transform: translate3d(0, 2.5px, 0);
  }
  30%, 70% {
    transform: translate3d(3px, 0, 0);
  }
  35%, 65% {
      transform: translate3d(0, -3.5px, 0);
  }
  40%, 60% {
    transform: translate3d(-4px, 0, 0);
  }
  45%, 55% {
      transform: translate3d(0, 4.5px, 0);
  }
  50%{
      transform: translate3d(6px, 0, 0);
  }
}
/* end of particle styling */

/*button*/
.dropbtn {
    text-transform: uppercase;
    color: white;
    font-size: 17px;
    border: none;
    cursor: pointer;
    background-color: #006400;
    padding: 12px;
}
.dropbtn:hover, .dropbtn:focus {
    background-color: white;
    color: black;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #006400;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: white;
    color: black;
}
.dropdown:hover .dropdown-content {
    display: block;
}
/* \button */